html, body {
  height: 100%;
  width: 100%;
}
div {
  font-family: 'Lato', sans-serif;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
.stat a {
    color: #000000;
    text-decoration: none;
}